/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top__phone{
		position: absolute;
		right: 0;
	}
	.main__head .navbar-collapse {
		position: relative;
		
	}
	.main__head ul.navbar-nav {
		margin-top: 25px;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	ul.navbar-nav a {
		font-size: 13px;
		padding: 11px;
	}
	
.wn__item .panel {
	max-width: initial;
}
.main__footer .col-sm-6 {
	margin-top: 20px;
	min-height: 76px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top__phone {
		position: relative;
	}
	ul.navbar-nav a {
		padding: 15px;
	}
	.carousel .item {
		min-width: 600px;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.carousel-inner .h1{
		font-size: 1.7em;
		line-height: 1.2;  
	}
	.carousel-inner small{
		font-size: .7em;
		margin-top: 10px;
	}
	.main__footer {
		padding-top: 60px;
	}
	.main__footer .col-sm-6 {
		float: none;
		width: 100%;
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}